<div class="login_panel">
  <div class="card m-auto">
    <div class="card-body">
      <form class="login_form">
        <h3 class="card-title text-center">Connexion</h3>
        <div class="form-group">
          <div class="inner-addon left-addon">
            <i class="material-icons">person</i>
            <input type="text" class="form-control" placeholder="Pseudo" />
            <div class="inner-addon left-addon">
              <i class="material-icons">lock</i>
              <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Connexion</button>
      </form>
      <img src="../../assets/login5.png">
    </div>
  </div>
</div>
